/***CSS for small screens, default***/

/*heading area*/
header {
	height: 191px;
	background-color: #3B2C8A;
	color: white;
}

.fixed-button {
	position: fixed;
	top: 0;
	left: 0;
	height: 44px;
	width: 52px;
	background-color: #8A2C7B;
	color: white;
}

.fixed-button > span {
	padding-left: 12px;
	padding-top: 6px;
}

.medium-menu {
	left: -150px;
}

/*main body*/
.main {
	padding: 0 32px;
}

.text-area {
	color: white;
	background-color: #2C7B8A;
	
}

.text-area h2 {
	margin-top: 50px
}

.text-area.first-text-area {
	height: 162px;
}

.text-area.second-text-area {
	height: 295px;
	margin-bottom: 16px;
}

.text-area.third-text-area {
	height: 293px;
	margin-bottom: 50px;
}

.photo-area img {
	display: inline-block;
	width: 25%;
}


/*** CSS for medium size devices, ≥768px***/

@media (min-width: 768px) {

.medium-menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #8A2C7B;
	color: white;
	width: 150px;
	height: 100%;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}	

.fixed-button {
	display: none;
}

.main, .top {
	display: block;
	margin-left: 150px;
}

}


/*** CSS for larger size devices, ≥992px***/

@media (min-width: 992px) {

	.main {
		max-width: 800px;
		margin: 0 auto 50px auto;
	}

}

